@model IEnumerable<RealSite.Presentation.ViewModels.ManufactureViewModel> //Change This

<a asp-action="Create">Create Manufacturer</a>
<table class="table">
    <tr><td>Manufacturer</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Name</td>
             <td>
              <a asp-action="Delete" asp-controller="Manufacture" asp-route-id="_______">Delete</a>
            </td>
        </tr>
    }
</table>