<a class="nav-link text-dark"  asp-controller="Users" asp-action="Index" title="ManageUser">Manage Users</a>
<a class="nav-link text-dark"  asp-controller="Roles" asp-action="Index" title="ManageRoles">Manage Roles</a>
<a class="nav-link text-dark"  asp-controller="ShopEditor" asp-action="Index" title="ManageShop">Manage Shop</a>