@model RealSite.Presentation.ViewModels.CreateUserViewModel
<h2>User Registration</h2>
<form method="post" asp-controller="Account" asp-action="Registration">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>  
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
      <div>
        <label asp-for="Organization"></label><br />
        <input asp-for="Organization" />
        <span asp-validation-for="Organization"></span>
    </div>
      <div>
        <label asp-for="ContactPerson"></label><br />
        <input asp-for="ContactPerson" />
        <span asp-validation-for="ContactPerson"></span>
    </div>
      <div>
        <label asp-for="Phone"></label><br />
        <input asp-for="Phone" />
        <span asp-validation-for="Phone"></span>
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>